# Created by .ignore support plugin (hsz.mobi)
### JetBrains
.idea

# CMake
cmake-build-debug/
cmake-build-release/

# File-based project format
*.iws

### Python
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

*.h5
*.parquet
*.csv
*.png
*.gz
admin
*.log
*.cfg
*.html
resources
archive
results
figures
data
.DS_Store
*yarn.lock
*node_modules
*.icloud
*.pkl
*.pickle
samples.py
*.joblib
*.npz