absl-py==0.2.2
alembic==1.0.0
-e git+https://github.com/pyenv/pyenv.git@a2d51328eeef85b108303a31d90a8b0ba923a8ef#egg=alphalens
asn1crypto==0.24.0
astor==0.7.1
attrs==18.1.0
Automat==0.7.0
autopep8==1.3.5
backcall==0.1.0
bcolz==0.12.1
beautifulsoup4==4.6.0
bleach==2.1.3
bokeh==0.13.0
boto==2.49.0
boto3==1.7.61
botocore==1.10.61
Bottleneck==1.2.1
bz2file==0.98
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.3
cssselect==1.0.3
cssutils==1.0.2
cycler==0.10.0
cyordereddict==1.0.0
Cython==0.28.4
decorator==4.3.0
docutils==0.14
-e git+https://github.com/pyenv/pyenv.git@a2d51328eeef85b108303a31d90a8b0ba923a8ef#egg=empyrical
entrypoints==0.2.3
fake-useragent==0.1.10
furl==1.2
gast==0.2.0
gensim==3.5.0
grpcio==1.13.0
h5py==2.8.0
html5lib==1.0.1
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
inflection==0.3.1
intervaltree==2.1.0
ipykernel==4.8.2
ipython==6.3.0
ipython-genutils==0.2.0
ipywidgets==7.3.0
jedi==0.12.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
kaggle==1.4.5
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
kiwisolver==1.0.1
linearmodels==4.8
Logbook==1.4.0
lru-dict==1.1.6
lxml==4.2.3
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
missingno==0.4.1
mistune==0.8.3
more-itertools==4.2.0
mpmath==1.0.0
multipledispatch==0.5.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.5.0
networkx==1.9.1
notebook==5.6.0
numexpr==2.6.6
numpy==1.14.5
orderedmultidict==1.0
packaging==17.1
pandas==0.22.0
pandas-datareader==0.6.0+30.g3c17058
pandas-market-calendars==0.19
pandocfilters==1.4.2
parsel==1.5.0
parso==0.3.1
patsy==0.5.0
pexpect==4.6.0
pickleshare==0.7.4
pip-review==1.0
prometheus-client==0.3.0
prompt-toolkit==1.0.15
protobuf==3.6.0
ptyprocess==0.6.0
pyarrow==0.9.0
pyasn1==0.4.3
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycparser==2.18
pydata==1.0.0
pydataset==0.2.0
PyDispatcher==2.0.5
-e git+https://github.com/pyenv/pyenv.git@a2d51328eeef85b108303a31d90a8b0ba923a8ef#egg=pyfolio
Pygments==2.2.0
PyHamcrest==1.9.0
pymc3==3.5
pyOpenSSL==18.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
python-editor==1.0.3
pytz==2018.5
PyYAML==3.13
pyzmq==17.1.0
qtconsole==4.3.1
Quandl==3.4.0
queuelib==1.5.0
requests==2.19.1
requests-file==1.4.3
requests-ftp==0.3.1
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
Scrapy==1.5.1
scrapy-fake-useragent==1.1.0
scrapy-proxies==0.4
scrapy-random-useragent==0.2
scrapy-splash==0.7.2
seaborn==0.9.0
selenium==3.13.0
Send2Trash==1.5.0
service-identity==17.0.0
simplefix==1.0.9
simplegeneric==0.8.1
six==1.11.0
smart-open==1.6.0
sortedcontainers==2.0.4
SQLAlchemy==1.2.10
statsmodels==0.9.0
sympy==1.2
TA-Lib==0.4.17
tables==3.4.4
tensorboard==1.9.0
tensorflow-gpu==1.9.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.9.0
tornado==5.1
tqdm==4.23.4
trading-calendars==1.1.0
traitlets==4.3.2
Twisted==18.7.0
urllib3==1.22
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.3.0
wrapt==1.10.11
xlrd==1.1.0
zipline==1.3.0
zope.interface==4.5.0
